@page "/"
<style>
    .messages-pane {
        background-color: #E9F1FB;
        min-height: 200px;
        padding: 20px;
        max-height: 75vh;
        overflow: auto;
        height: 65vh;
    }

    .message-single {
        width: 70%;
        margin-bottom: 20px
    }

        .message-single .card:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            top: auto;
            bottom: -19px;
            border: 10px solid;
            /* border-color: #666 transparent transparent #666; */
        }

    .messages-box {
        background-color: #73ABE0;
        border-radius: 10px;
        padding: 10px;
        margin: 5px;
    }

        .messages-box .thread {
            background-color: #FFFFFF;
            border-radius: 10px;
            box-shadow: 1px 1px 5px #333;
            margin: 10px;
            padding: 10px;
            width: 70%;
        }

    .thread-user {
        border-bottom: 1px solid #CCC;
    }

        .thread-user h4 {
            display: inline;
        }

    .message-from {
        margin-right: auto !important;
        clear: both;
    }

    .message-to {
        margin-left: auto !important;
        clear: both;
    }

        .message-to .card:before {
            border-color: #4e73df #4e73df transparent transparent;
            right: 20px;
            left: auto;
        }



    .message-from .card:before {
        border-color: #1cc88a transparent transparent #1cc88a;
        left: 20px;
        right: auto;
    }

    .message-from img.rounded-circle {
        width: 80px;
        float: left;
        margin: 0px 5px;
    }

    .message-to img.rounded-circle {
        width: 80px;
        float: right;
        margin: 0px 5px;
    }


    .message-single pre {
        border: 1px solid #1cc88a;
        padding: 10px;
    }

    .custom-message {
        border: 2px solid #1cc88a !important;
        background-color: white !important;
        color: black !important;
        border-radius: 5px;
    }
</style>
<!--new messages here-->
<div id="statusBar" style="min-height: 40px; background-color: #EEE; padding: 5px;">
    @StatusMessage
</div>
<div id="result" class="messages-pane">
    @foreach (var msg in MessagesList)
    {
        if (msg.IsFromUser)
        {
            <div class="message-single message-to">
                <img class="rounded-circle" src="/img/undraw_profile_1.svg" alt="..." />
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <p class="base-message">@msg.Content</p>
                        <div class="text-white-50 small">Message Sent: <b>@msg.Timestamp</b></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="message-single message-from" data-message-id="@("message" + msg.ID)">
                <img class="rounded-circle" src="/img/undraw_profile_2.svg" alt="..." />
                <div class="card bg-success text-white shadow">
                    <div class="card-body generated-messsage custom-message">
                        <p class="base-message">@msg.Content</p>
                        <div class="small">Message Completed: <b>@msg.Timestamp</b></div>
                        <div class="small">Tokens Generated: <b>@msg.TokensGenerated</b></div>
                        <div>
                            <button class="btn btn-outline-danger" @onclick="CancelPrompt">
                                <i class="fa fa-times"></i>
                            </button>

                            <button class="btn btn-outline-success" @onclick="() => { SpeakOut(msg.ID); }">
                                <i class="fas fa-volume-up"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div id="anchorHere"></div>
</div>
<form id="frmSendMessage" @onsubmit="SendMessage">
    <div class="messages-editor">
        <div id="messageAttachments">

        </div>
        <div id="messageInput" class="input-group">
            <input type="hidden" name="SenderUserID" value="3" />
            <input type="hidden" name="ReceiverUserID" value="4" />
            @* <input type="text" id="txtSearch" class="form-control" name="SenderMessage" autocomplete="off" @bind="MessageInput" style="height: 70px;" /> *@
            <textarea id="txtSearch" class="form-control" name="SenderMessage" autocomplete="off" @bind="MessageInput" style="height: 70px;" >
            </textarea>
            <button type="submit" class="input-group-text text-primary" style="width: 70px;font-size: 20px;">
                <i style=" margin: 0px auto; " class="fas fa-paper-plane"></i>
            </button>
            <button type="button" class="input-group-text text-primary" style="width: 70px;font-size: 20px;">
                <i style=" margin: 0px auto; " class="fas fa-paperclip"></i>
            </button>
        </div>
    </div>
</form>
<script>
    $(function(){
        // $('#txtSearch').on('keydown', function(e) {
        //     if (e.key === 'Enter' && !e.shiftKey) {
        //         e.preventDefault();
        //         $('#frmSendMessage').trigger('submit');
        //     }
        // });
    });
</script>